* {
  overflow: hidden;
}

body {
  background-color: rgb(32, 33, 36);
}

.question a {
  color: rgb(77, 77, 77);
  font-size: 1rem;
  font-weight: bolder;
}

.question h5 {
  color: black;
  margin: 0;
  font-size: 2rem;
  font-weight: bolder;
}

@media screen and (max-width: 768px) {
  .question a {
    color: rgb(77, 77, 77);
    margin: 0;
    font-size: 2.3vw;
    font-weight: light;
  }

  .question h5 {
    color: black;
    margin: 0;
    font-size: 6vw;
    font-weight: light;
  }
}

.ask-vote {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.question {
  color: gray;
  font-size: 50px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.options {
  text-align: center;
  display: flex;
  gap: 5vw;
}

button {
  font-size: 1.3rem;
  border-radius: 48%;
  padding: 3.8vw;
  border: none;
  margin: auto;
  margin-top: 5px;
  background-color: rgb(22, 22, 22);
  color: white;
  cursor: pointer;
}

button a {
  color: white;
}

button:hover {
  color: rgb(93, 21, 62);
  background-color: rgba(100, 100, 100, 0.2);
}

#count-down {
  color: rgb(171, 26, 0);
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
